@import "abstracts/mixins";
@import "base/reset";
@import "base/colors";

body {
  background: url(images/photo.jpg) no-repeat center center/cover fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: $color1;
  text-align: center;
  

  @include respond-to('xs'){
    background-attachment: initial;
    height: 100vh;
  }
}

.wrapper {
  @include flex-container;

  div {
    border: 4px solid $color1;
    flex-basis: 24%;
    font-size: 8vw;
    font-weight: bold;
    padding: 5%;
    position: relative;
    top: -80vh;

    &:first-child {
      @include animation("slide-down 1.5s ease-in-out forwards");
      background: $color2;

      @include respond-to('xs'){
        left: -100vw;
        @include animation("slide-left 1.5s ease-in-out forwards");
      }
    }
    &:nth-child(2) {
      @include animation("slide-down 1.5s ease-in-out 1.5s forwards");
      background: $color3;

      @include respond-to('xs'){
        right: -100vw;
        @include animation("slide-right 1.5s ease-in-out 1.5s forwards");
      }
    }

    &:last-child {
      @include animation("slide-down 1.5s ease-in-out 3s forwards");
      background: $color4;
      
      @include respond-to('xs'){
        left: -100vw;
        @include animation("slide-left 1.5s ease-in-out 3s forwards");
      }
    }

    @include respond-to('xs'){
      font-size: 30vw;
      flex-basis: 80%;
      top: initial;
      height: 30vh;
    }
  }
}

@include keyframes(slide-down) {
  0% {
    top: -80vh;
  }
  100% {
    top: 0;
  }
}
@include keyframes(slide-left) {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
@include keyframes(slide-right) {
  0% {
    right: -100vw;
  }
  100% {
    right: 0;
  }
}
